.main__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main__left {
    background: linear-gradient(180deg, #4B6782 0%, #403E53 100%);
    padding-top: 45px;
    padding-left: 20px;
}

.main__right {
    background: url('../assets/main__content-bg.png') center center no-repeat;
    background-size: cover;
    padding-top: 45px;
    padding-right: 20px;
}

.nav__left {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 25px;
}

.main__logo {
    margin-right: 39px;
}

.main__link {
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}

.main__link+.main__link {
    margin-left: 30px;
}

.nav__right {
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__right-actions {
    display: flex;
    align-items: center;
}

.main__companyTitle {
    margin-top: 115px;
    margin-left: 72px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: end;
    align-items: center;
    height: 543px;
}

.main__companyTitle-img {
    position: relative;
}

.main__companyTitle-img::before {
    content: url('../assets/logo3.png');
    position: absolute;
    top: 30px;
    left: 103px;
}

.main__companyInfo {
    margin-top: 112px;
    margin-right: 72px;
    padding-left: 43px;
    background: rgba(0, 0, 0, 0.5);
    height: 543px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__companyInfo-wrapper {
    width: 70%;
}

.main__companyInfo-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 55px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 51px;
}

.main__companyInfo-btn {
    border: 1.67742px solid #D8C99B;
    border-radius: 9.22581px;
    font-size: 30px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.77);
    padding: 10px 43px;
}

.main__companyInfo-subtext {
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 20px;
}

.main__rating {
    padding: 22px 0 39px;
    margin-left: 72px;
    display: flex;
    align-items: center;
}

.main__rating span {
    font-weight: bold;
    font-size: 48px;
    line-height: 55px;
    color: #D8C99B;
}

.stars__gold {
    margin-left: 65px;
}

/* Main Info */
.main__info {
    padding: 24px 92px 21px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.7);
}

/* Advantages */
.advantages {
    background: url('../assets/schema.png') center center no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 831px;
}

.advantages__img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 20px;
}

.advantages__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #161D25;
    position: absolute;
    top: 46px;
    right: 119px;
}

/* Collect */
.collect {
    padding: 23px 91px 50px;
    background: linear-gradient(180deg, #4B6782 0%, #403E53 100%);
}

.collect__mainIcon {
    display: flex;
    justify-content: center;
}

.collect__title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    color: #D8C99B;
    margin-top: 30px;
}

.collect__list {
    margin-top: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collect__item {
    width: 326px;
}

.collect__item-icon {
    display: flex;
    justify-content: center;
}

.collect__item-text {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 9px;
}

/* Gallery */
.gallery {
    background: #D9E6FF;
    padding: 126px 138px 70px 161px;
    display: grid;
    row-gap: 27px;
}

.gallery__row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery__card {
    padding: 35px 35px 21px;
    height: 329px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery__card.news {
    background: url('../assets/gallery1.png') center center no-repeat;
    background-size: cover;
    width: 513px;
    margin-right: 23px;
}

.gallery__card.events {
    background: url('../assets/news1.png') center center no-repeat;
    background-size: cover;
    width: 605px;
}

.gallery__card-title {
    font-size: 36px;
    line-height: 41px;
    color: #FFFFFF;
}

.gallery__card-text {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    width: 50%;
    margin-bottom: 50px;
}

.gallery__card-btn {
    border: 0.780853px solid #D8C99B;
    border-radius: 11.6109px;
    padding: 5px 20px;
    font-size: 11.9036px;
    line-height: 15px;
    color: #FFFFFF;
}

.gallery__rating {
    width: 620px;
    height: 329px;
    display: flex;
    margin-right: 23px;
}

.gallery__rating-imgContent {
    background: url('../assets/gallery3.png') center center no-repeat;
    background-size: cover;
    width: 100%;
}

.gallery__rating-content {
    display: grid;
    grid-template-rows: 164px 1fr;
    grid-template-columns: 164px;
}

.gallery__rating-img {
    background: #24292D;
    height: 164px;
    display: flex;
    align-items: flex-end;
    padding: 13px 13px 23px;
}

.gallery__rating-info {
    background: #475870;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 18px 21px;
}

.gallery__rating-description {
    font-size: 14.8202px;
    line-height: 17px;
    color: #FFFFFF;
}

.gallery__card.collaboration {
    width: 493px;
    background: url('../assets/gallery-phone.jpg') center center no-repeat;
    background-size: cover;
}

/* Feedback */
.feedback {
    padding: 117px 138px;
    display: grid;
    grid-template-columns: 446px 1fr;
    column-gap: 46px;
    background: #42465C;
}

.feedback__left {
    background: #282D34;
    box-shadow: 0px 2.70579px 2.70579px rgba(0, 0, 0, 0.25);
    border-radius: 14.2913px;
    padding: 46px 70px;
}

.feedback__title {
    font-size: 36px;
    line-height: 34px;
    color: #FFFFFF;
    margin-bottom: 74px;
    text-align: center;
}

.feedback__input {
    margin-bottom: 76px;
}

.feedback__input input {
    width: 100%;
    background: 0;
    border: 0;
    border-bottom: 1.90551px solid rgba(255, 255, 255, 0.25);
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
}

.feedback__input input:focus {
    outline: 0;
}

.feedback__input input::placeholder {
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
}

.feedback__left textarea {
    width: 100%;
    background: 0;
    border-radius: 13.3386px;
    border: 1.90551px solid rgba(255, 255, 255, 0.25);
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    min-height: 135px;
    max-height: 250px;
    resize: vertical;
    padding: 10px;
}

.feedback__left textarea::placeholder {
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    text-align: center;
    line-height: 60px;
}

.feedback__left textarea:focus {
    outline: 0;
}

.feedback__submit {
    width: 261px;
    height: 62px;
    display: block;
    margin: 28px auto 0;
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
    border: 1.90551px solid rgba(255, 255, 255, 0.35);
    border-radius: 13.3386px;
}

.feedback__right {
    display: grid;
    row-gap: 43px;
}

.feedback__consultation {
    display: grid;
    grid-template-columns: 160px 1fr;
    position: relative;
}

.feedback__consultation-left {
    background: linear-gradient(161.07deg, #4B647F 1.81%, #475870 98.99%);
    opacity: 0.84;
    box-shadow: 0px 4.00742px 4.00742px rgba(0, 0, 0, 0.25);
}

.feedback__consultation-right {
    background: rgba(36, 41, 45, 0.84);
    padding: 24px 19px 24px 154px;
}

.feedback__consultation-logo {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 65px;
}

.feedback__consultation-title {
    font-size: 33.2512px;
    line-height: 32px;
    color: #D8C99B;
    margin-bottom: 35px;
}

.feedback__consultation-btn {
    padding: 13px 26px;
    border: 0.83128px solid #D8C99B;
    border-radius: 9.14408px;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    text-align: center;
}

.feedback__consultation-text {
    font-size: 20px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.93);
    margin-top: 28px;
}

.feedback__map img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.main__mobile {
    display: none;
}

/* Media queries */
@media (max-width: 1400px) {
    .gallery {
        padding-left: 120px;
        padding-right: 120px;
    }

    .main__rating span {
        font-size: 38px;
        line-height: 45px;
    }

    .stars__gold {
        margin-left: 55px;
    }

    .gallery__card.news {
        width: 450px;
    }

    .gallery__card.events {
        width: 550px;
    }

    .gallery__rating {
        width: 550px;
    }

    .gallery__card.collaboration {
        width: 450px;
    }

    .feedback {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 1300px) {
    .feedback {
        padding-left: 80px;
        padding-right: 80px;
    }

    .gallery {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (max-width: 1200px) {
    .feedback__consultation-title {
        font-size: 28px;
        line-height: 29px;
    }

    .feedback__consultation-right {
        padding: 20px 19px 20px 90px;
    }

    .feedback__consultation {
        grid-template-columns: 100px 1fr;
    }

    .feedback__consultation-logo {
        width: 150px;
        height: 150px;
        left: 23px;
    }

    .feedback__consultation-logo img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .advantages__img {
        width: 897px;
        height: 549px;
    }

    .advantages__img img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .main__companyTitle {
        margin-left: 10px;
        margin-top: 90px;
    }

    .main__companyInfo {
        margin-right: 10px;
        margin-top: 87px;
    }

    .main__rating {
        margin-left: 10px;
    }

    .advantages {
        height: 700px;
    }

    .gallery {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 1100px) {
    .gallery__card.news {
        width: 350px;
    }

    .gallery__card.events {
        width: 450px;
    }

    .gallery__card.collaboration {
        width: 350px;
    }

    .gallery__rating {
        width: 450px;
    }

    .main__mobile {
        background: linear-gradient(180deg, #4B6782 0%, #403E53 100%);
        display: block;
    }

    .main__wrapper {
        display: none;
    }

    .main__mobile-title {
        padding: 30px 20px;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main__mobile-rating {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .main__mobile-rating span {
        font-weight: bold;
        font-size: 48px;
        line-height: 55px;
        color: #D8C99B;
        display: inline-block;
        margin-right: 20px;
    }

    .main__mobile-img {
        position: relative;
    }

    .main__mobile-img .logo {
        position: absolute;
        top: 33px;
        left: 103px;
    }

    .main__mobile-info {
        text-align: center;
        padding: 30px 20px;
    }

    .main__mobile-infoTitle {
        font-weight: bold;
        font-size: 48px;
        line-height: 55px;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    }

    .main__mobile-btn {
        border: 1.67742px solid #D8C99B;
        border-radius: 9.22581px;
        font-size: 30px;
        line-height: 29px;
        color: rgba(255, 255, 255, 0.77);
        padding: 11px 29px;
        margin: 20px 0;
    }

    .main__mobile-subtext {
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        width: 80%;
        margin: 0 auto;
    }

    .advantages__img {
        width: 697px;
        height: 349px;
    }
}

@media (max-width: 1000px) {
    .gallery__row {
        flex-direction: column;
    }

    .gallery {
        padding: 50px;
    }

    .gallery__card.news {
        width: 80%;
        margin-right: 0;
        margin-bottom: 27px;
    }

    .gallery__card.events {
        width: 80%;
    }

    .gallery__rating {
        width: 80%;
        margin-right: 0;
        margin-bottom: 27px;
    }

    .gallery__card.collaboration {
        width: 80%;
    }

    .feedback {
        padding: 40px 30px;
        column-gap: 30px;
    }

    .feedback__left {
        padding: 30px;
    }
}

@media (max-width: 900px) {
    .collect__list {
        margin-top: 30px;
        flex-direction: column;
    }

    .collect__item+.collect__item {
        margin-top: 30px;
    }

    .advantages__title {
        font-size: 38px;
        line-height: 45px;
        right: 50px;
        top: 50px;
    }

    .feedback {
        grid-template-columns: 1fr;
    }

    .feedback__right {
        margin-top: 30px;
        row-gap: 30px;
    }
}

@media (max-width: 800px) {
    .main__mobile-rating span {
        font-size: 38px;
        line-height: 45px;
    }

    .main__mobile-infoTitle {
        font-size: 38px;
        line-height: 45px;
    }

    .main__mobile-btn {
        font-size: 25px;
        line-height: 24px;
    }

    .main__mobile-subtext {
        width: 100%;
        font-size: 20px;
        line-height: 24px;
    }

    .main__info {
        padding: 30px;
    }
}

@media (max-width: 700px) {
    .advantages__img {
        width: 497px;
        height: 149px
    }

    .advantages {
        height: 500px;
    }

    .collect {
        padding: 30px;
    }

    .gallery__card.news, .gallery__card.events, .gallery__rating, .gallery__card.collaboration {
        width: 100%;
    }

    .gallery {
        padding: 30px;
    }
}

@media (max-width: 600px) {
    .main__mobile-img {
        width: 373px;
        height: 213px;
    }

    .main__mobile-img .main {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .main__mobile-img .logo {
        width: 55px;
        height: 55px;
        top: 27px;
        left: 81px;
    }

    .main__mobile-rating {
        margin-top: 30px;
    }

    .main__mobile-rating span {
        font-size: 30px;
        line-height: 37px;
    }

    .stars__gold-mobile {
        width: 180px;
        height: 40px;
    }

    .stars__gold-mobile img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .advantages__img {
        width: 397px;
        height: 100px;
        bottom: 0;
    }
}

@media (max-width: 500px) {
    .main__mobile-infoTitle {
        font-size: 30px;
        line-height: 37px;
    }

    .main__mobile-img {
        width: 320px;
        height: 163px;
    }

    .main__mobile-img .logo {
        left: 70px;
        top: 25px;
        width: 45px;
        height: 45px;
    }

    .main__mobile-btn {
        font-size: 20px;
        line-height: 19px;
    }

    .main__mobile-subtext {
        font-size: 18px;
        line-height: 22px;
    }

    .main__mobile-rating {
        margin-top: 50px;
    }

    .main__mobile-rating span {
        font-size: 25px;
        line-height: 25px;
        margin-right: 10px;
    }

    .main__info {
        font-size: 20px;
        line-height: 24px;
    }

    .stars__gold-mobile {
        width: 150px;
    }

    .advantages__title {
        font-size: 30px;
        line-height: 37px;
    }

    .advantages {
        height: 450px;
    }

    .advantages__img {
        width: 320px;
    }

    .collect__title {
        font-size: 25px;
        line-height: 30px;
    }

    .collect__mainIcon {
        width: 105px;
        height: 131px;
        margin: 0 auto;
    }

    .collect__mainIcon img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .collect__item-text {
        font-size: 20px;
        line-height: 24px;
    }

    .collect__item {
        width: 100%;
    }

    .gallery {
        padding: 20px;
    }

    .gallery__rating {
        height: 280px;
    }

    .gallery__card-title {
        font-size: 30px;
        line-height: 36px;
    }

    .gallery__rating-info {
        padding: 15px;
    }

    .gallery__card {
        padding: 20px;
        height: 280px;
    }

    .feedback__left {
        padding: 20px;
    }

    .feedback__title {
        font-size: 30px;
        line-height: 28px;
        margin-bottom: 30px;
    }

    .feedback__input {
        margin-bottom: 40px;
    }

    .feedback__submit {
        font-size: 30px;
        line-height: 40px;
        height: 50px;
    }

    .feedback__consultation-btn {
        padding: 10px 15px;
    }

    .feedback__consultation-logo {
        width: 100px;
        height: 100px;
        left: 28px;
    }

    .feedback__consultation-right {
        padding: 20px 19px 20px 60px;
    }

    .feedback__consultation-title {
        font-size: 25px;
        line-height: 26px;
        margin-bottom: 25px;
    }

    .feedback__consultation-text {
        font-size: 18px;
        line-height: 18px;
        margin-top: 25px;
    }

    .feedback__consultation {
        grid-template-columns: 80px 1fr;
    }
}