/* Footer */
.footer {
    padding: 288px 160px 57px;
    background: #42465C url('../assets/footer-logo.png') top no-repeat;
}

.footer.withNoBg {
    padding-top: 150px;
    background: 0;
}

.footer.withNoBg.blue {
    background: linear-gradient(180deg, #4B6782 0%, #403E53 100%);
}

.footer__list {
    display: flex;
    justify-content: space-between;
}

.footer__title {
    font-size: 24px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 52px;
}

.footer__num, .footer__mail {
    font-size: 18px;
    line-height: 23px;
    color: #C4C4C4;
    margin-bottom: 13px;
}

.footer__btn {
    font-size: 18px;
    line-height: 23px;
    color: #C4C4C4;
    padding: 0;
    display: block;
    margin-bottom: 13px;
}