/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 52px 20px 40px;
}

.header.withNoLogo {
    padding-left: 162px;
}

.header__link {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 31px;
}

.header__link+.header__link {
    margin-left: 85px;
}

.header__actions {
    display: flex;
    align-items: center;
}

.header__registerBtn {
    border: 1px solid #FFA841;
    border-radius: 9px;
    padding: 6px 18px;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin-right: 20px;
}

.header__social {
    margin-right: 20px;
}