.main__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main__left {
    background: linear-gradient(180deg, #4B6782 0%, #403E53 100%);
    padding-top: 45px;
    padding-left: 20px;
}

.main__right {
    background: url('../assets/main__content-bg.png') center center no-repeat;
    background-size: cover;
    padding-top: 45px;
    padding-right: 20px;
}

.nav__left {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 70px;
}

.main__logo {
    margin-right: 39px;
}

.main__link {
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}

.nav__right {
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__right-actions {
    display: flex;
    align-items: center;
}

.main__companyTitle {
    margin-top: 115px;
    margin-left: 72px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: end;
    align-items: center;
    height: 543px;
}

.main__companyTitle-img {
    position: relative;
}

.main__companyTitle-img::before {
    content: url('../assets/logo3.png');
    position: absolute;
    top: 30px;
    left: 103px;
}

.main__companyInfo {
    margin-top: 112px;
    margin-right: 72px;
    padding-left: 43px;
    background: rgba(0, 0, 0, 0.5);
    height: 543px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__companyInfo-wrapper {
    width: 70%;
}

.main__companyInfo-title {
    font-family: Arial;
    font-weight: bold;
    font-size: 48px;
    line-height: 55px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 51px;
}

.main__companyInfo-btn {
    border: 1.67742px solid #D8C99B;
    border-radius: 9.22581px;
    font-family: Gotham Pro;
    font-size: 30px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.77);
    padding: 10px 43px;
}

.main__companyInfo-subtext {
    font-family: 'Javanese Text';
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 20px;
}

.main__rating {
    padding: 22px 0 39px;
    margin-left: 72px;
    display: flex;
    align-items: center;
}

.main__rating span {
    font-family: Arial;
    font-weight: bold;
    font-size: 48px;
    line-height: 55px;
    color: #D8C99B;
}

.stars__gold {
    margin-left: 65px;
}

/* Main Info */
.main__info {
    padding: 24px 92px 21px;
    font-family: Arial;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.7);
}

/* Advantages */
.advantages {
    background: url('../assets/schema.png') center center no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 831px;
}

.advantages__img {
    position: absolute;
    top: 46px;
    left: 20px;
}

.advantages__title {
    font-family: Arial;
    font-weight: bold;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #161D25;
    position: absolute;
    top: 46px;
    right: 119px;
}

/* Collect */
.collect {
    padding: 23px 91px 50px;
    background: linear-gradient(180deg, #4B6782 0%, #403E53 100%);
}

.collect__mainIcon {
    display: flex;
    justify-content: center;
}

.collect__title {
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    color: #D8C99B;
    margin-top: 30px;
}

.collect__list {
    margin-top: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collect__item {
    width: 326px;
}

.collect__item-icon {
    display: flex;
    justify-content: center;
}

.collect__item-text {
    font-family: Arial;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 9px;
}

/* Gallery */
.gallery {
    background: #D9E6FF;
    padding: 126px 138px 70px 161px;
    display: grid;
    row-gap: 27px;
}

.gallery__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery__card {
    padding: 35px 35px 21px;
    height: 329px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery__card.news {
    background: url('../assets/gallery1.png') center center no-repeat;
    background-size: cover;
    width: 513px;
    margin-right: 23px;
}

.gallery__card.events {
    background: url('../assets/news1.png') center center no-repeat;
    background-size: cover;
    width: 605px;
}

.gallery__card-title {
    font-family: Arial;
    font-size: 36px;
    line-height: 41px;
    color: #FFFFFF;
}

.gallery__card-text {
    font-family: Arial;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    width: 50%;
    margin-bottom: 50px;
}

.gallery__card-btn {
    border: 0.780853px solid #D8C99B;
    border-radius: 11.6109px;
    padding: 5px 20px;
    font-family: Buenard;
    font-size: 11.9036px;
    line-height: 15px;
    color: #FFFFFF;
}

.gallery__rating {
    width: 620px;
    height: 329px;
    display: flex;
}

.gallery__rating-imgContent {
    background: url('../assets/gallery3.png') center center no-repeat;
    background-size: cover;
    width: 100%;
}

.gallery__rating-content {
    display: grid;
    grid-template-rows: 164px 1fr;
    grid-template-columns: 164px;
}

.gallery__rating-img {
    background: #24292D;
    height: 164px;
    display: flex;
    align-items: flex-end;
    padding: 13px 13px 23px;
}

.gallery__rating-info {
    background: #475870;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 18px 21px;
}

.gallery__rating-description {
    font-family: Arial;
    font-size: 14.8202px;
    line-height: 17px;
    color: #FFFFFF;
}

.gallery__card.collaboration {
    width: 493px;
    background: url('../assets/gallery-phone.jpg') center center no-repeat;
    background-size: cover;
}

/* Feedback */
.feedback {
    padding: 117px 138px;
    display: grid;
    grid-template-columns: 446px 1fr;
    column-gap: 46px;
    background: #42465C;
}

.feedback__left {
    background: #282D34;
    box-shadow: 0px 2.70579px 2.70579px rgba(0, 0, 0, 0.25);
    border-radius: 14.2913px;
    padding: 46px 70px;
}

.feedback__title {
    font-size: 36px;
    line-height: 34px;
    color: #FFFFFF;
    margin-bottom: 74px;
    text-align: center;
}

.feedback__input {
    margin-bottom: 76px;
}

.feedback__input input {
    width: 100%;
    background: 0;
    border: 0;
    border-bottom: 1.90551px solid rgba(255, 255, 255, 0.25);
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
}

.feedback__input input:focus {
    outline: 0;
}

.feedback__input input::placeholder {
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
}

.feedback__left textarea {
    width: 100%;
    background: 0;
    border-radius: 13.3386px;
    border: 1.90551px solid rgba(255, 255, 255, 0.25);
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    min-height: 135px;
    max-height: 250px;
    resize: vertical;
    padding: 10px;
}

.feedback__left textarea::placeholder {
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    text-align: center;
    line-height: 60px;
}

.feedback__left textarea:focus {
    outline: 0;
}

.feedback__submit {
    width: 261px;
    height: 62px;
    display: block;
    margin: 28px auto 0;
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
    border: 1.90551px solid rgba(255, 255, 255, 0.35);
    border-radius: 13.3386px;
}

.feedback__right {
    display: grid;
    row-gap: 43px;
}

.feedback__consultation {
    display: grid;
    grid-template-columns: 160px 1fr;
    position: relative;
}

.feedback__consultation-left {
    background: linear-gradient(161.07deg, #4B647F 1.81%, #475870 98.99%);
    opacity: 0.84;
    box-shadow: 0px 4.00742px 4.00742px rgba(0, 0, 0, 0.25);
}

.feedback__consultation-right {
    background: rgba(36, 41, 45, 0.84);
    padding: 24px 19px 24px 154px;
}

.feedback__consultation-logo {
    position: absolute;
    top: 73px;
    left: 65px;
}

.feedback__consultation-title {
    font-family: Gotham Pro;
    font-size: 33.2512px;
    line-height: 32px;
    color: #D8C99B;
    margin-bottom: 35px;
}

.feedback__consultation-btn {
    padding: 13px 26px;
    border: 0.83128px solid #D8C99B;
    border-radius: 9.14408px;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    text-align: center;
}

.feedback__consultation-text {
    font-size: 20px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.93);
    margin-top: 28px;
}

.feedback__map img {
    width: 100%;
    height: auto;
    object-fit: cover;
}