.main {
    background: url('../assets/main-bg.png') center no-repeat;
    background-size: cover;
    height: 5127px;
}

.container {
    padding: 0 160px;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 52px 20px 40px;
}

.header__nav {
    margin-left: 120px;
}

.header__link {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 31px;
}

.header__link+.header__link {
    margin-left: 85px;
}

.header__actions {
    display: flex;
    align-items: center;
}

.header__registerBtn {
    border: 1px solid #FFA841;
    border-radius: 9px;
    padding: 6px 18px;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin-right: 20px;
}

.header__social {
    margin-right: 20px;
}

/* Promo */
.promo {
    padding: 0 40px;
}

.promo__contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.promo__logo {
    padding-left: 60px;
}

.promo__contact-content {
    padding-left: 17px;
    border-left: 2px solid #F29F3E;
}

.promo__title {
    font-size: 48px;
    line-height: 62px;
    color: rgba(255, 255, 255, 0.55);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 60px;
}

.promo__contact-btn {
    border: 1.67742px solid #FFA841;
    border-radius: 9.22581px;
    padding: 10px 48px;
    font-size: 24px;
    line-height: 31px;
    color: rgba(255, 255, 255, 0.77);
    position: relative;
    z-index: 999;
}

.promo__middle {
    position: relative;
}

.promo__middle-title {
    font-family: Javanese Text;
    font-size: 200px;
    line-height: 270px;
    color: #FFFFFF;
    opacity: 0.5;
    white-space: nowrap;
}

.promo__middle-subtitle {
    font-family: Javanese Text;
    font-size: 58.4288px;
    line-height: 133px;
    color: #C4C4C4;
    opacity: 0.4;
    text-shadow: 0px 3.33879px 3.33879px rgba(0, 0, 0, 0.25);
    position: absolute;
    right: 0;
    bottom: 0;
}

.promo__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.promo__info-wrapper {
    position: relative;
}

.promo__info-left {
    transform: rotate(-90deg);
    position: absolute;
    right: -10px;
    bottom: 20px;
}

.promo__info-left p {
    font-size: 14px;
    line-height: 18px;
    color: #FFA841;
}

.promo__info-right {
    padding-top: 40px;
    padding-left: 19px;
    font-family: Javanese Text;
    font-size: 18px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.93);
    border-left: 2px solid #F29F3E;
}

/* Companies */
.companies {
    padding: 58px 100px;
}

.companies__bottomArrow {
    display: flex;
    justify-content: center;
    position: relative;
}

.companies__bottomArrow::before {
    content: '';
    width: 100px;
    height: 1px;
    background-color: #C4C4C4;
    position: absolute;
    left: -100px;
    top: 50%;
}

.companies__title {
    text-align: center;
    margin: 30px 0;
    font-size: 48px;
    line-height: 62px;
    color: rgba(255, 255, 255, 0.48);
    opacity: 0.7;
}

.companies__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Analysis */
.analysis {
    padding: 0 164px;
}

.analysis__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.analysis__card {
    background: #252121;
    width: 200px;
    height: 283px;
    padding: 12px;
}

.analysis__img {
    width: 180px;
    height: 144px;
}

.analysis__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.analysis__wrapper {
    padding-left: 10px;
}

.analysis__text {
    margin: 13px 0;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.analysis__btn {
    border: 0.590383px solid #FFA841;
    border-radius: 8.77874px;
    font-size: 9px;
    line-height: 12px;
    color: #FFFFFF;
    width: 100px;
    text-align: left;
}

/* News */
.news {
    padding: 0 160px;
    margin-top: 89px;
}

.news__title {
    font-size: 48px;
    line-height: 62px;
    color: #E5E5E5;
    opacity: 0.8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    margin-bottom: 23px;
}

.news__list {
    display: grid;
    row-gap: 35px;
}

.news__item {
    display: grid;
    grid-template-columns: 365px 1fr;
    column-gap: 35px;
}

.news__item-img {
    width: 365px;
    height: 276px;
}

.news__item-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.news__item-text {
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

/* Stats */
.stats {
    margin-top: 30px;
}

.stats__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats__item {
    width: 328px;
    background: #24292D;
    opacity: 0.3;
    padding: 20px;
}

.stats__item-row {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.stats__item-icon {
    margin: 0 25px 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats__item-row+.stats__item-row {
    margin-top: 14px;
}

/* Market */
.market {
    margin: 35px 160px 0;
    display: grid;
    grid-template-columns: 1fr 250px;
    column-gap: 35px;
    background: rgba(36, 41, 45, 0.81);
    padding: 8px 28px 30px;
}

.market__title {
    font-size: 48px;
    line-height: 62px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
}

.market__text {
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.market__text-wrapper {
    width: 50%;
}

.market__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.market__card {
    width: 224px;
}

.market__img {
    width: 100%;
    height: 132px;
}

.market__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.market__date {
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    margin: 4px 0;
}

.market__more {
    font-size: 14px;
    line-height: 19px;
    color: #C4C4C4;
}

.market__btn {
    width: 223px;
    height: 28px;
    background: linear-gradient(93.17deg, #FFA841 0%, #B97A2F 100%);
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.market__btn img {
    margin-left: 30px;
}

.market__right {
    display: grid;
    row-gap: 7px;
}

.market__right-card {
    background: #252121;
    padding: 10px 35px 26px;
}

.market__right-img {
    width: 180px;
    height: 113px;
}

.market__right-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.market__right-title {
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 25px;
    text-align: center;
}

.market__right-text {
    font-size: 14px;
    line-height: 13px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.market__right-btn {
    background: linear-gradient(93.17deg, #FFA841 0%, #B97A2F 100%);
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    width: 100%;
    height: 28px;
}

/* Ad */
.ad {
    margin: 50px 160px 37px;
    background: url('../assets/ad.png') center center no-repeat;
    height: 202px;
}

/* Feedback */
.feedback {
    padding: 0 160px;
    display: grid;
    grid-template-columns: 446px 1fr;
    column-gap: 46px;
}

.feedback__left {
    background: #3C2D26;
    box-shadow: 0px 2.70579px 2.70579px rgba(0, 0, 0, 0.25);
    border-radius: 14.2913px;
    padding: 46px 70px;
}

.feedback__title {
    font-size: 36px;
    line-height: 34px;
    color: #FFFFFF;
    margin-bottom: 74px;
    text-align: center;
}

.feedback__input {
    margin-bottom: 76px;
}

.feedback__input input {
    width: 100%;
    background: 0;
    border: 0;
    border-bottom: 1.90551px solid rgba(255, 255, 255, 0.25);
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
}

.feedback__input input:focus {
    outline: 0;
}

.feedback__input input::placeholder {
    font-size: 18px;
    line-height: 17px;
    color: #FFFFFF;
}

.feedback__left textarea {
    width: 100%;
    background: 0;
    border-radius: 13.3386px;
    border: 1.90551px solid rgba(255, 255, 255, 0.25);
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    min-height: 135px;
    max-height: 250px;
    resize: vertical;
    padding: 10px;
}

.feedback__left textarea::placeholder {
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    text-align: center;
    line-height: 60px;
}

.feedback__left textarea:focus {
    outline: 0;
}

.feedback__submit {
    width: 261px;
    height: 62px;
    display: block;
    margin: 28px auto 0;
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
    border: 1.90551px solid rgba(255, 255, 255, 0.35);
    border-radius: 13.3386px;
}

.feedback__right {
    display: grid;
    row-gap: 43px;
}

.feedback__consultation {
    display: grid;
    grid-template-columns: 160px 1fr;
    position: relative;
}

.feedback__consultation-left {
    background: linear-gradient(161.07deg, #F29F3E 1.81%, #F3D1A8 98.99%);
    opacity: 0.84;
    box-shadow: 0px 4.00742px 4.00742px rgba(0, 0, 0, 0.25);
}

.feedback__consultation-right {
    background: rgba(36, 41, 45, 0.84);
    padding: 24px 19px 24px 154px;
}

.feedback__consultation-logo {
    position: absolute;
    top: 55px;
    left: 27px;
}

.feedback__consultation-title {
    font-size: 33.2512px;
    line-height: 32px;
    color: #FFA841;
    margin-bottom: 35px;
}

.feedback__consultation-btn {
    padding: 13px 26px;
    border: 0.83128px solid #F3A953;
    border-radius: 9.14408px;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    text-align: center;
}

.feedback__consultation-text {
    font-size: 20px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.93);
    margin-top: 28px;
}

.feedback__map img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Footer */
.footer {
    padding: 0 160px;
    margin-top: 134px;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
}

.footer__title {
    font-size: 24px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 52px;
}

.footer__num, .footer__mail {
    font-size: 18px;
    line-height: 23px;
    color: #C4C4C4;
    margin-bottom: 13px;
}

.footer__btn {
    font-size: 18px;
    line-height: 23px;
    color: #C4C4C4;
    padding: 0;
    display: block;
    margin-bottom: 13px;
}

.footer__bottom {
    margin-top: 107px;
    color: #fff;
}

.footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}