.detail {
    background: linear-gradient(180deg, #4B6782 0%, #403E53 100%);
}

.detail__main {
    background: url('../assets/detail.png') center no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 277px 3px #4c3f37;
}

.detail__content {
    padding: 161px 0 241px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail__content-img {
    margin-bottom: 29px;
}

.detail__content-btn button {
    border: 5.93721px solid #F3A953;
    border-radius: 18.0968px;
    font-size: 47.4977px;
    line-height: 45px;
    color: #FFFFFF;
    padding: 22px 121px;
}

.detail__list {
    padding: 77px 164px;
    background: #252121;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail__item {
    width: 312px;
    height: 246px;
}

.detail__analyze {
    margin-top: 70px;
    background: rgba(37, 33, 33, 0.77);
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 50px 160px;
}

.detail__analyze-left {
    display: grid;
    row-gap: 30px;
}

.detail__analyze-row {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
}

.detail__analyze-label {
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}

.detail__analyze-right {
    justify-self: end;
}

.detail__analyze-title {
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
    margin-bottom: 48px;
    text-align: center;
}

.documents {
    padding: 73px 199px;
}

.documents__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 37px;
}

.documents__text {
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    width: 80%;
    margin: 0 auto;
}