/* Products */
img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.products {
    background: linear-gradient(180deg, #4B6782 0%, #403E53 100%);
}

.products__logo-img {
    width: 376px;
    height: 364px;
    display: block;
    margin: 0 auto;
}

.products__logo-description {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.93);
    width: 530px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.products__logo-btn {
    width: 285px;
    height: 52px;
    font-size: 20.782px;
    line-height: 20px;
    color: #FFFFFF;
    border: 0.83128px solid #F3A953;
    border-radius: 9.14408px;
    display: block;
    margin: 0 auto 50px;
}

.products__wrapper {
    display: grid;
    row-gap: 50px;
}

.products__card {
    display: grid;
    grid-template-columns: 200px 1fr 186px;
}

.products__card.col-2 {
    grid-template-columns: 200px 1fr;
}

.products__card-mainImg {
    background: #24292D;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.products__card-content {
    padding: 20px;
    background: #8F9BB4;
}

.products__card-text {
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.products__card-btn {
    border: 0.590383px solid #FFA841;
    border-radius: 8.77874px;
    width: 100px;
    height: 20px;
    font-size: 9px;
    line-height: 12px;
    color: #FFFFFF;
    margin-top: 17px;
    padding: 4px 5px;
}

.products__card-middle {
    background: url('../assets/news2.png') center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.products__card-middleText {
    margin: 0 73px 20px 105px;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.products__card-read {
    font-size: 18px;
    line-height: 25px;
    color: #C4C4C4;
    margin: 0 auto 22px;
    display: flex;
    flex-direction: column;
}

.products__card-images {
    display: grid;
    row-gap: 11px;
    background: #24292D;
    padding: 9px 17px;
}

.products__card-img {
    width: 152px;
    height: 120px;
}

.products__copyright {
    background: #8F99B2;
    padding: 19px 0 25px;
}